/* About.css */

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&family=Open+Sans:wght@400;600&family=Raleway:wght@300;700&display=swap');

/* Global styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* About section */
.about {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Ensure background doesn't overflow */
}

/* Dot Grid Background */
.dot-grid {
  position: absolute;
  top: 0; /* Adjusted from -50% to 0 */
  left: 0; /* Adjusted from -50% to 0 */
  width: 100%; /* Adjusted from 200% to 100% */
  height: 100%; /* Adjusted from 200% to 100% */
  background-image: radial-gradient(circle, rgba(171, 122, 216, 0.45) 1px, transparent 1px);
  background-size: 40px 40px;
  animation: moveBackground 2s linear infinite;
  z-index: 0;
}

@keyframes moveBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 40px;
  }
}

/* Ensure about content is above the background */
.about-content {
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1; /* Default opacity */
  transition: opacity 0.6s ease;
}

/* Profile photo container */
.profile-photo-container {
  width: min(300px, 12vw); /* Responsive width */
  height: min(300px, 12vw);
  overflow: hidden;
  border-radius: 50%; /* Makes the container circular */
}

/* Image styles */
.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%; /* Adjust to focus on your face */
  transform-origin: center; /* Ensures scaling happens from the center */
}

/* Name */
.name {
  font-family: 'Raleway', sans-serif;
  font-size: min(4em, 3vw); /* Responsive font size */
  font-weight: 700;
  color: #333;
}

/* Title */
.title {
  font-size: min(1.5em, max(2vw, 1.1em)); /* Responsive font size */
  color: #555;
  margin-top: 5px;
  /* Italics */
  font-style: italic;
}

/* Personal summary */
.summary {
  max-width: 65vw;
  margin: 0px auto;
  font-size: min(max(1.01vw, 1em), 1.5em);
  color: #555;
}

/* Social links */
.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #333;
  margin: 0 15px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff;
}

/* Responsive adjustments */
@media screen and (max-width: 600px) {

  .about {
    height: auto;
  }
  

  .name {
    font-size: 2em;
  }

  .profile-photo-container {
    width: 200px;
    height: 200px;
    margin-top: 20px;
  }

  .profile-photo {
    transform: scale(1.8);
    object-position: 50% 0%; /* Adjust to focus on your face */
  }


  .social-links {
    margin-bottom: 20px;
  }
}
