/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

/* Global styles */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html {
  /* Set default values for CSS variables */
  --mouse-x: 50%;
  --mouse-y: 50%;
  scroll-behavior: smooth;
}

/* About section */
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: radial-gradient(
    circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
    rgba(171, 122, 216, 0.5),
    rgba(171, 122, 216, 0.3),
    rgba(171, 122, 216, 0.01)
  ),
  #fdfdfd;
  background-repeat: no-repeat;
  transition: background 1s ease;
}

/* About content */
.about-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo-container {
  width: 300px;
  height: 300px;
  overflow: hidden;    /* Hides the overflow caused by scaling */
  border-radius: 50%;  /* Makes the container circular */
}

/* Image styles */
.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%; /* Adjust to focus on your face */
  transform-origin: center; /* Ensures scaling happens from the center */
}


.name {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: #333;
  margin: 2000;
}

/* Title */
.title {
  font-size: 1.5em;
  color: #555;
  margin-top: 20px;
}

/* Personal summary */
.summary {
  max-width: 600px;
  margin: 20px auto;
  font-size: 1.2em;
  color: #555;
}

/* Social links */
.social-links {
  margin-top: 20px;
}

.social-links a {
  color: #333;
  margin: 0 15px;
  font-size: 1.5em;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff;
}

@media screen and (max-width: 600px) {
  .name {
    font-size: 2em;
  }

  .profile-photo-container {
    width: 200px;
    height: 200px;
  }

  .profile-photo {
    transform: scale(1.8);
    object-position: 50% 0%; /* Adjust to focus on your face */
  }

}
